@font-face{
	font-family:visitor;
	src: url("visitor1.ttf");
}

@font-face{
	font-family: blade;
	src: url("BLADRMF_.TTF");
}

#social_sites:first-child {
	list-style:none;
}

body{
	background-image: url("space.jpg")

}

.parent{
	position:relative;
	top:50px;
	left:50px;
	border:4px solid #EE77AD;
	border-radius:10%;
}

.child{
	position:absolute;
	top:350px;
}

h1 {
	position:absolute;
	font-family: blade;
	color: #EE77AD;
	left:605px;
	top:100px;
}

#p1 {
	position:absolute;
	color:#6E7C2C;
	left:680px;
	top:170px;
	font-family:visitor;
}

#p2 {
	position:absolute;
	color:#6E7C2C;
	left:680px;
	top:220px;
	font-family:visitor;
}

#p3 {
	position:absolute;
	color:#6E7C2C;
	left:640px;
	top:270px;
	font-family:visitor;
}

#link {
	position:absolute;
	color:#EE77AD;
	left:565px;
	top:370px;
	font-family: blade;
}

#tech {
	position:absolute;
	color:#EE77AD;
	left:645px;
	top:320px;
	font-family: blade;
	left:50px;
	top:20px;
	width:300px;
}

#github {
	position:absolute;
	color:#6E7C2C;
	left:660px;
	top:420px;
}

#contact {
	position:absolute;
	color:#EE77AD;
	left:595px;
	top:460px;
	font-family: blade;
}

ul {
	position:absolute;
	list-style: none;
	color: #6E7C2C;
	left:30px;
	top:50px;
	width:200px;
	font-family:visitor;
}

div {
	width:100px;
}

#github:hover{
	color:#EE77AD; 
}

#email{
	position:absolute;
	left:690px;
	top:510px;
	color:#6E7C2C;
}

#email:hover {
	color:#EE77AD;
}

#phone{
	position:absolute;
	left:770px;
	top:520px;
	color:#BC8A27;
	font-family:visitor;
}

#add{
	position:absolute;
	left:750px;
	top:500px;
	color:#BC8A27;
	font-family:visitor;
}

span {
	color:white;
}

#diff {
	color:#568BB6;
}